.highlight{
    background-color:#222;
    opacity:.9;
    border-radius:20px;
    color:white;
    font-size:22px;
    padding:10px;
    text-align: center;
    margin:10px 0;
    text-transform: capitalize;
}