.hero{
    width:100%;
    z-index:1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.tint{
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:.85;
    background-color:wheat;
}